/* reaset */
* {margin:0;padding:0;box-sizing:border-box;}

html{font-size:10px;}
button{display:inline-block;background:none;border:none;font-size:inherit;color:inherit;}
.sr_only{font-size:0;position:absolute;text-indent:-9999px;}



/* 레이아웃 */
body{background:#F5F6FA;}
.wrap{max-width:1200px;height:1080px;margin:0 auto;padding:20px 0;}

.baas_logo{position:absolute;top:32px;left:-272px;width:240px;height:50px;background:url('./img/logo_IBKBaaS.svg') no-repeat center / 150px 50px;font-size:0;text-align:center;}
.baas_logo a{display:block;width:100%;height:100%;}

.lnb{position:absolute;width:240px;height:1040px;padding-top:122px;-webkit-border-radius:12px;border-radius:12px;box-shadow:0 4px 20px rgba(170,169,184,.1);background-color:#fff;}

.header{position:absolute;top:20px;z-index:1200;display:flex;align-items:center;justify-content:right;gap:20px;width:928px;height:64px;margin-left:272px;padding:0 24px;-webkit-border-radius:12px;border-radius:12px;box-shadow:0 4px 20px rgba(170,169,184,.1);background-color:#fff;}
.header button{font-size:0;cursor:pointer;}
.alram_wrap{position:absolute;right:243px;}
.alram_wrap .btn_alram{width:24px;height:24px;background:url('./img/alram.png') no-repeat;}
.alram_wrap .alram_box{display:none;position:absolute;top:64px;right:-243px;border-radius:12px;box-shadow:0 4px 20px rgba(170,169,184,.1);background-color:#fff;}
.alram_wrap .alram_box .btn_close{position:absolute;top:20px;right:20px;width:24px;height:24px;background:url('./img/btn_close.png') no-repeat;}
.user_util_wrap{position:absolute;right:183px;}
.user_util_wrap .btn_user_util{width:40px;height:40px;background:url('./img/user.png') no-repeat;}
.user_util_wrap .user_util_box{display:none;position:absolute;top:64px;right:-183px;border-radius:12px;box-shadow:0 4px 20px rgba(170,169,184,.1);background-color:#fff;}
.user_util_wrap .user_util_box .btn_close{position:absolute;top:20px;right:20px;width:24px;height:24px;background:url('./img/btn_close.png') no-repeat;}
.all_menu{display:none;}
.all_menu .btn_allmenu{position:absolute;top:18px;right:24px;width:24px;height:24px;background:url('./img/allmenu.png') no-repeat center;}
.all_menu .btn_allmenu.active{width:24px;height:24px;background:url('./img/allmenu_close.png') no-repeat center;}

.header_sub{display:none;display:flex;justify-content:left;}
.header .btn_prev{position:absolute;top:18px;left:24px;width:24px;height:24px;background:url('./img/btn_prev.png') no-repeat;}
.header .title{margin-left:16px;color:#202224;font-size:1.8rem;font-weight:600;line-height:2.4rem;}

.container{width:928px;margin-left:272px;padding-top:64px;}
.container .page_title{padding:24px 0;}
.container .page_title h2.title{font-size:2.4rem;font-weight:700;line-height:3rem;}
.container .contents{width:948px;height:898px;overflow-y:auto;}
.container .contents_inner{width:928px;}


/* 박스 */
.box_wrap{display:flex;gap:24px;justify-content:space-between;width:100%;margin-top:24px;}
.box_wrap:first-child{margin-top:0;}
.box_wrap .box{background-color:transparent;}
.box_wrap .box.bg{-webkit-border-radius:12px;border-radius:12px;webkit-box-shadow:0 4px 20px rgba(170,169,184,.1);box-shadow:0 4px 20px rgba(170,169,184,.1);background-color:#fff;-}
.box_wrap .box.bdr{border:1px solid #D8D8D8;}
.box_wrap .box.box_inner{padding:24px 32px;}
.box_wrap .box.full{width:100%;}
.box_wrap .box h3.title{color:#202224;font-weight:600;font-size:1.8rem;line-height:2.4rem;}
.box_wrap.col2 .box{width:calc((100% - 24px) / 2);}


/* 대시보드 */
.contents_inner.dashboard{}
.contents_inner.dashboard .box_wrap .box_serve_status{width:294px;height:216px;}
.contents_inner.dashboard .box_wrap .box_new_update{width:610px;height:216px;}

/* 서비스현황 */
.service_status_wrap{}
.service_status_wrap .total_status{margin:20px 0 36px;color:#202224;font-size:2.4rem;font-weight:300;line-height:2.4rem;}
.service_status_wrap .total_status strong{font-weight:500;}
.service_status_wrap .status_info{display:flex;align-items:center;justify-content:space-between;}
.service_status_wrap .status_info .label{width:45px;height:22px;-webkit-border-radius:3px;border-radius:3px;color:#fff;font-size:1.2rem;font-weight:500;text-align:center;}
.service_status_wrap .status_info .label.ty01{background-color:#0C70F5;}
.service_status_wrap .status_info .label.ty02{background-color:#FF718B;}
.service_status_wrap .status_info .cont{color:#202224;font-size:1.8rem;font-weight:500;text-align:right;}
.service_status_wrap .status_info:last-child{margin-top:12px;}

/* full calendar */
.contents_inner.dashboard .box_wrap .box_calendar{width:100%;height:670px;}
.contents_inner.dashboard .box_wrap .box_calendar .fc{height:100%;border-radius:12px;}




/* =========================================================================== */

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media screen and (max-width:767px) {
    .wrap{max-width:100%;width:100%;height:100%;margin:0;padding:0;}
    .header{position:fixed;top:0;width:100%;height:60px;margin:0;border-radius:initial;}
    .header .baas_logo{left:24px;top:12px;width:102px;height:36px;margin:0;padding:0;background-size:102px 36px;}
    .header .all_menu{display:block;}
    .header_sub{display:flex;}
    .container{width:100%;margin:0;padding-top:60px;}
    .container .page_title{display:none;}
    .container .contents{width:100%;height:100%;padding:24px 20px;}
    .container .contents_inner{width:100%;}
    .lnb{position:fixed;top:60px;right:0;z-index:1200;
        opacity:0;
        visibility:hidden;
        width:0;height:calc(100vh - 60px);
        transition-property:opacity, visibility, width;
        transition-duration:0.35s, 0.25s, 0.25s;
        transition-delay:0.1s;
        overflow-y:auto;
        display:flex;flex-direction:column;
        padding:0;border-radius:initial;box-shadow:none;background-color:#fff;
    }
    .lnb.open{opacity:1;visibility:visible;width:100%;transition-duration:0.15s, 0.25s, 0.25s;}

    .alram_wrap{right:120px;}
    .alram_wrap .alram_box{position:fixed;top:0;left:0;width:100%;height:100vh;overflow-y:auto;}
    
    .user_util_wrap{right:68px;}
    .user_util_wrap .btn_user_util{width:32px;height:32px;background-size:32px 32px;}
    .user_util_wrap .user_util_box{position:fixed;top:0;left:0;width:100%;height:100vh;overflow-y:auto;}

    /* 박스 */
    .box_wrap{flex-direction:column;gap:16px;width:100%;margin-top:16px;}
    .box_wrap .box{width:100% !important;}
    .box_wrap .box.box_inner{padding:24px 24px;}
    .box_wrap .box.full{width:100%;}





}


